<html>
  <head>
    <h1>Tu veux en savoir plus ??</h1>
  </head>
  <body>
        <h1>Alors il parait que <%= gossips[0]%> a dit sa:</h1>
          
        <h2><%= gossips[1]%></h2>
     
     
  </body>
</html>